

.logoBar{
  width: 100%;
  height: auto;
  font-size: 5vw;
  font-family: "Cabin","Montserrat", sans-serif;
}
.hovered-element {
  color:#f5f3f5; /* Default color */
}
 */
.icons {
  width: 7vw;
  height: 7vw;
}
.upper-left {
  position: relative;
  left: 5%; 
}
.upper-right {
  position: absolute;
  right: 5%; 
}

#siteLogo{
  width: 100%;
}

body {
  display: flex;
  color: #f5f3f5;
  font-family: "Cabin", "Montserrat", sans-serif;
  font-size: 4vw;


}
/* #staffGallery{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

} */
.galleryImage{
  display: flex;
  width: 80%;
  height: 50%;
  margin-top: 10%;
  /* max-height: 300px; */
  margin-bottom: 10%;
}


.buffer {
  width: 100%;
  height: 1vm;
  font-size: 0vw;
}

.card {
  background-size: auto;
  background: linear-gradient(to bottom, #576ca8 80%, #274690 15%);
  /* outline: 2px solid blue; */
  height:auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 2%;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  font-size: 14vw;

}

#site{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

@media screen and (max-width: 600px){
  .bag{
    font-size: 0vw;
  }
#site{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.logoBar{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  }
  .side-bar{
    font-size: 0vw;
  }
}


@media screen and (min-width: 601px) and (max-width: 1000px){
  .bag{
    font-size: 0vw;
  }
  #site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 35%;
    /* margin-top: 30%; */
    }

  .logoBar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 2vw;
    }
  .icons {
    width: 0vw;
    /* height: 7vw;
    display: flex;
    justify-content: right;
    overflow:hidden; */
  }
  #bagelGallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: right; */
    /* right: 45vw; */
    /* align-items: flex-start; */
    margin: -5px;
  }
  .buffer{
    height: 8vw;
    font-size: 5vw;
    color: #274690;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1vw;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 30vw;
    font-size: 4vw;
    margin: 7px;
    background: linear-gradient(to bottom, #576ca8 75%, #274690 15%);

  }
  .side-bar{
    font-size: 2vw;
    position: fixed;
    color:#f5f3f5;
    font-family: "Cabin","Montserrat", sans-serif;
    margin-top: 8vw;
  }
  .current{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f3f5;
    width: 35.1vw;
    height: 10vw;
    color: #576ca8;
  }
  .bag{
    font-size: 0vw;
  }
}


  @media screen and (min-width: 1001px) {
    #site{
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 35%;
      }
  
    .logoBar {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      text-align: center;
      width: 100%;
      height: 10%;
      position: fixed;
      left: 0;
      font-size: 2vw;
      margin-top: 0px;
      }
    .icons {
      width: 0vw;
      /* height: 7vw;
      display: flex;
      justify-content: right;
      overflow:hidden; */
    }
    #bagelGallery{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      /* justify-content: right; */
      /* right: 45vw; */
      /* align-items: flex-start; */
      margin-top: 5.5vw;
    }
    .buffer{
      height: 8vw;
      font-size: 5vw;
      color: #274690;
      text-align: center;
      margin-top: 0;
      margin-bottom: 1vw;
    }
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      width: 30vw;
      font-size: 4vw;
      margin: 7px;
      background: linear-gradient(to bottom, #576ca8 75%, #274690 15%);
  
    }
    .side-bar{
      font-size: 1vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      text-align: center;
      background-color: #576ca8;
      width: 100%;
      height: 2.5vw;
      top: 1vw;
      left: -8vw;
      position: fixed;
      color:#f5f3f5;
      font-family: "Cabin","Montserrat", sans-serif;
      margin-top: 8vw;
      margin-left: 8vw;
      padding: 5px;
    }
    .bag{
      display: flex;
      position: fixed;
      left: 0;
      top: 15vw;
      /* font-size: 1.2vw; */
      width: 30%;
      height: 100%;
      border-radius: 0px 15px 15px 0px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
    }
    #bag-name{
      font-size: 5vw;
      margin-top: 10vw;
    }
    #bag-items{
      font-size: 1.8vw;
      margin-top: 0.8vw;
      margin-bottom: 50vw;
      justify-content: space-evenly;

    }
    #total{
      margin-top: 0.8vw;
      font-size: 3vw;
    }
    #checkout{
      margin-top: 10vw;
      background-color: #f5f3f5;
      color: #1b254f;
      width: 90%;
      height: 6vw;
      font-size: 5vw;
      border-radius: 5px 5px 5px 5px;
    }
} 