

#logoBar{
  width: 20%;
  height: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;

}
#siteLogo{
  width: 100%;
}

body {
  display: flex;
  color: orange;
  font-family: "Comic Sans MS", cursive, sans-serif;

}
#staffGallery{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.galleryImage{
  width: 100%;
  height: auto;

  
}
.card {
  outline: 2px solid blue;
  height:auto;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  max-width: 50%;
}

#site{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px){
  #site{
    display: flex;
    flex-direction: row;
    }
#logoBar{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 30%;
  }
}
