.image{ 
  height: 40vw;
  width: 65vw;
  
}
table, th, td {
  border: 2px solid #f58549;
  border-collapse: collapse;
  background-color: #f2a65a;
  padding: 1px;
  text-align: center;
}

.image-small{ 
  height: auto;
  width: 28vw;
  border: 2px solid #f58549;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  background-color: #ffffff;

}

body {
  font-family: Abel, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #353535;
}


.container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

header {
  background: #26547c;
  color: #fff;
  padding-top: 30px;
  border-bottom: #f58549 8px solid;
}

header h1 {
  text-align: center;
}
.section-border {
  border: 2px solid #f2a65a;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  background-color: #ffffff;
}
.section-shadow {
  background-color: #eec170;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0.5, 0.5);
  padding: 20px;
  margin: 20px 0;
  color: black;
}

.section-flat {
  background: #26547c;
  color: #ffffff;
  padding: 10px;
  margin: 20px 0;
  text-align: 20px;
}

main {
  padding: 20px;
  background: #fff;
}
