body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8AACCD;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #2660A4;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: #EDF7F6;
    text-decoration: none;
    font-size: 18px;
}
.resume-container {
    margin: 20px;
}

nav a:hover {
    text-decoration: underline;
}
  
  .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  header h1 {
    color: #12182A;
    font-size: 36px;
  }
  .tile {
    width: 50px;
    height: 50px;
    background-color: #decba4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid #9c805b;
    margin: 2px;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
.tile span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: #050609;
}

  
.bio-content {
    display: flex;
    flex-direction: column;
    background-color: #EDF7F6;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
        width: 75vw;
        


  }
  
  .bio-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 25px;
  }
  
  .bio-image {
    float: left;
    margin-right: 20px;
    width: 25vw;

  }
  
  .bio-description {display: flex;

    flex-direction: column;
    align-items: center;
        justify-content: space-between;
    overflow: hidden; /* Clear the float */
    font-size: xx-large;
    margin-right: 15px;

  }
  
  .bio-description p {
    text-align: left; /* Align description text to the left */
  }
  .line {
    display: flex;
    justify-content: space-between;
    width: 450px;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity change */

  }
  .faded {
    opacity: 0.5; /* Reduced opacity for non-active lines */}

.line.special {
    justify-content: center;
    align-items: center;
    color: #12182A;
    left: 50%;
}
/* .line:hover() */
h1, h2, h3, h4, h5 {
  font-family: 'Arial', sans-serif;
}